:root{
    --font-family: 'Montserrat', sans-serif;
    --cor-black: #010101;
    --cor-white: #e6e6e6;
    --cor-cinzaEscuro: #1c1c1c;
    --cor-cinzaClaro: #4a4a4a;
    font-size: 16px;
}

body{
    background-color: var(--cor-black);
    color: var(--cor-white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tituloPagina{
    font-size: 3rem;
    font-family: var(--font-family);
    font-weight: bold;
    padding: 1.5rem
}

.formCampo{
    padding: 0 1rem 0 1rem;
    margin-bottom: 1rem;
}

.tituloCampo{
    font-family: var(--font-family);
    font-size: 0.8125rem;
    margin-left: .625rem;
    color: var(--cor-white);
}

#name, #data{
    width: 100%;
    padding: 0.625rem;
    margin-top: .25rem;
    background-color: transparent;
    border: 2px solid var(--cor-white);
    border-radius: 1rem;
    color: var(--cor-white);
    box-sizing: border-box;
}

.formBotao{
    text-align: center;
    padding: 1rem;
}

.botaoSalvar{
    background-color: var(--cor-white);
    border: none;
    color: var(--cor-cinzaEscuro);
    padding: 0.75rem;
    width: 100%;
    font-weight: bold;
    font-family: var(--font-family);
    border-radius: 1rem;
}

.botaoSalvar:hover{
    background-color: var(--cor-cinzaClaro);
    color: var(--cor-white);
}

.tabelaDeItens{
    border: 2px solid var(--cor-white);
    box-sizing: border-box;
    width: 75%;
    border-collapse: collapse;
    font-family: var(--font-family);
    margin-top: 3rem;
}

.tableTitle{
    font-weight: bold;
}

td{
    border: 2px solid var(--cor-white);
    padding: 1rem;
}


.someDaTela{
    display: none;
}
